* {
    margin: 0;
    padding: 0;
    background: white;
    box-sizing: border-box;
}

h1 {
    line-height: 70px;
}

.wrap {
    background: #e7e7e7;
    padding: 5%;
    text-align: center;
    width: 60%;
    margin-left: 25%;
    overflow: hidden;
    min-width: 400px;
    min-height: 300px;
}

.left,
.right {
    background: #ccc;
    display: block;
    padding: 5%;
    box-shadow: -4px -8px 12px black;
    position: static;
}

.right {
    overflow: auto;
    max-height: 200px;
}

ul li {
    position: relative;
    list-style-type: none;
    padding: 12px 24px;
    background: orange;
    color: white;
    font-size: 18px;
}

#input {
    border-style: none;
    background-color: white;
    margin: 30px;
    width: 200px;
    height: 30px;
    box-shadow: -4px -8px 12px black;
}

#submit {
    width: 100px;
    border-style: none;
    background-color: black;
    color: white;
    height: 30px;
    margin: 33px 30px;
}

#submit:hover {
    border: solid 1px white;
}

#deleteButton {
    background-color: black;
    color: white;
    right: 0;
    position: absolute;
    height: 44px;
    width: 44px;
    font-size: 16px;
    top: 0;
}

#deleteButton:hover {
    border: 2px solid red;
}

#checkButton {
    right: 45px;
    position: absolute;
    height: 44px;
    width: 44px;
    top: 0;
    border: none;
    background-color: green;
}